html {
  font-size: 62.5%;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 15%;
    width: 100vw;
    height: 100vh;
  }
}

body {
  /* background-color: blueviolet; */
  background-color: #222;
  font-family: Open Sans, sans-serif;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.5;
  /* width: 100%; */
}

.mainDiv {
  padding: 1rem 0rem 0rem 5rem;
  /* display: none; */
}

.myAccountHeaderDiv {
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* width: 100%; */
  width: 120rem;
  /* background-color: mediumblue; */
}

.myAccountHeaderDiv h1 {
  margin: 0;
  padding: 4rem 0rem 2rem;
  color: white;
  font-size: 3.6rem;
  font-weight: 600;
}
.myAccountContainer {
  margin-bottom: 40px;
  /* width: 100%; */
  width: 120rem;
  /* background-color: red; */
  /* background-color: #111; */
}
.no-link a {
  text-decoration: none;

  color: #dd625e;
}

.myAccountLeftMainDiv {
  margin-bottom: 2rem;
  width: 20rem;
}

.myAccountLeftMainDiv a {
  background: #333;
  display: block;
  padding: 1rem 2rem;
  /* height: 3.5rem; */
}

.active a {
  background-color: #111;
  /* background-color: red; */
}

.float-left {
  float: left;
}

.myAccountRightContainer {
  width: 80%;
  height: auto;
  /* clear: both; */
  /* clear: right; */
  background-color: #111;
  color: white;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.myAccountRight {
  margin-left: 3rem;
  padding-bottom: 3rem;
}

.myAccountRight h2 {
  font-size: 2.7rem;
  font-weight: 600;
}

.myAccountRight input {
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.myAccountRight button {
  /* background-color: rgb(192, 45, 40); */
  background-color: #c02d28;
  width: 12.5rem;
  height: 6rem;
  margin-top: 3rem;
  border-radius: 5rem;
  border: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.9rem;
  font-weight: 500;
  display: inline-block;
}

.myAccountRight button:hover {
  background-color: rgb(212, 53, 48);
}

.midinput {
  /* background-color: red; */
  width: 88rem;
  margin-top: 3rem;
}

.w45 {
  width: 45%;
}
.w41-in input {
  width: 41rem;
  /* background-color: royalblue; */
}
.w100-in input {
  width: 87rem;
}
.accountChangePassword {
  margin-top: 5rem;
}
.accountChangePassword input {
  width: 87rem;
  margin-bottom: 2rem;
}

/* ========================Invoices=============================== */

.invoiceCheckDiv label {
  display: inline-block;
}
#invoiceCheck {
  width: 1.6rem;
  height: 1.6rem;
}
#invoiceContainer {
  margin-top: 2rem;
  display: none;

  /* background-color: red; */
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1-5 {
  margin-bottom: 1.5rem;
}

/* =========accounts Workhop========================= */
.workshopsParaDiv {
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  /* background-color: tomato; */
  width: 87rem;
  height: 4rem;
  padding: 0.5rem 0rem 2rem 1.5rem;
  font-weight: 400;
}
.workshopsParaDiv a {
  text-decoration: underline;
}

/* ================Accounts Subscription========================= */
#subscriptionPara p {
  margin-top: 3rem;
  /* background-color: yellowgreen; */
}

#paymentMethod {
  width: 41rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: transparent;
}
#paymentMethod:focus {
  border: transparent;
  /* box-shadow: 0 0 5px rgb(203, 238, 1); */
  box-shadow: transparent;
  border-image-outset: 100px;
}
