<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to Frontend Masters</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/loginPage.css">
</head>

<body>
    <div>
        <h1> This place is for Header</h1>
    </div>

    <div class="mainDiv">

        <div class="loginFormDiv">

            <form id="loginForm" action="/login" method="POST">

                <div>
                    <label for="loginUserName">Username or Email</label>
                </div>
                <div>
                    <input id="loginUserName" type="text" name="email" placeholder="Username or Email" />
                </div>

                <div>
                    <label for="loginPassword">Password</label>
                </div>
                <div>
                    <input id="loginPassword" type="password" name="password" placeholder="Password" />
                </div>

                <div>
                    <input id="loginRememberMe" type="checkbox" name="loginRememberMe" />
                    <label for="loginRememberMe">Remember Me</label>
                </div>

                <div class="bigRedbutton">
                    <button type="submit" id="loginButton" value="Login" onclick="courses()">Log in</button>

                    <a href="#forgetPasswordPage" id="forgotPasswordPara">Forgot your passeord?</a>

                </div>


            </form>


        </div>
    </div><!-- main div -->


</body>

</html>

<script>
    function courses()
    {
        window.location.href = "courses";
    }
</script>