<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="preconnect" href="https://static.frontendmasters.com" />

    <title>Frontend Masters Pricing</title>
    <meta name='description'
        content='Stop wasting time searching the web for halfway decent tutorials. Learn straight from experts who shape the modern web.'>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <link rel="stylesheet" href="css/register.css">


</head>

<body class="page-join">
    <a role="region" aria-labelledby="skip-to-content-label" href="#main-content" class="skip-to-content">
        <span id="skip-to-content-label">Skip to main content</span>
    </a>
    <div id="before-layout"></div>

    <div class="s-vflex-outer">
        <div class="s-vflex-inner">

            




            <div id="alert-bar-container"></div>
            <header class='HeaderMain' data-test="header-main" role="banner">
                <div class='inner'>
                    <div class='s-wrap'>
                        <div class='FmLogo'><a class='s-tr' href='/'>FrontendMasters</a></div>

                        <label class='NavMobileHamburger' for='open-nav-main'>Menu</label>

                        <nav class='Nav NavMobile NavMain'>
                            <input class='toggle-target' id='open-nav-main' type='checkbox'>
                            <ul>

                                <li class='item'>
                                    <a href='/courses/'>Courses</a>
                                </li>
                                <li class='item'>
                                    <a href='/learn/'>Learn</a>
                                </li>
                                <li class='item active'>
                                    <a href='/join/'>Pricing</a>
                                </li>
                                <li class='item'>
                                    <a href='/login/'>Login</a>
                                </li>
                                <li class='item'>
                                    <a class='Button ButtonRed' href='/join/'>Join Now</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

                <svg class='diagonal' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10'
                    preserveAspectRatio='none'>
                    <defs>
                        <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="#c02d28" />
                            <stop offset="100%" stop-color="#e66225" />
                        </linearGradient>
                    </defs>
                    <polygon points='0,2 0,0 100,0 100,10' fill="url(#linear)" />
                </svg>
            </header>

            <div id="after-header"></div>
            <main id="main-content" role="main">









                <!--fORM-->
                <form class="s-vp-xl payment-form" name='join' id="payment-form" method="POST" action="/register"
                    novalidate data-submit-message="Processing your subscription. This might take a moment...">


                    <div class="s-wrap">
                        <h1 class="subscription_message s-center">Master Modern JavaScript to Full&nbsp;Stack</h1>
                        <h2 class="subscription_message s-center">100+&nbsp;Courses, Learning&nbsp;Paths &amp;
                            Mobile&nbsp;Apps for "On&nbsp;the&nbsp;Go" Learning</h2>
                        <div class='JoinLogos'>
                            <div class='s-wrap'>
                                <span class='javascript s-tr'>JavaScript</span>
                                <span class='react s-tr'>React</span>
                                <span class='vuejs s-tr'>Vue.js</span>
                                <span class='angular s-tr'>Angular</span>
                                <span class='nodejs s-tr'>Node.js</span>
                                <span class='css3 s-tr'>CSS3</span>
                                <span class='d3js s-tr'>D3.js</span>
                                <span class='webpack s-tr'>Webpack</span>
                            </div>
                        </div>
                    </div>
                    <p style="padding-top:10px; text-align: center;">
                        If you already have an account, please
                        <a href="/login/?return=%2fjoin%2f">login</a>.
                    </p>



                    <div class="s-wrap">
                        <div class="SubscriptionList" data-test="subscription-selector">






                            <input type="radio" class="s-hidden" name="level" id="level3" value="3" checked />
                            <label for="level3" class="details">
                                <h3 class="name">Monthly</h3>
                                <div class="price" data-price="39">
                                    <svg viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="M12,0C5.373,0,0,5.373,0,12c0,6.628,5.373,12,12,12c6.627,0,12-5.372,12-12C24,5.373,18.627,0,12,0z M19.754,9.561    l-8.607,8.607c-0.176,0.177-0.462,0.177-0.637,0l-1.272-1.285c-0.175-0.176-0.462-0.464-0.636-0.642l-2.96-3.112    c-0.087-0.087-0.133-0.21-0.133-0.327c0-0.115,0.046-0.227,0.133-0.314l1.297-1.169c0.088-0.09,0.205-0.134,0.321-0.134    c0.114,0.001,0.228,0.046,0.315,0.134l2.936,2.995c0.175,0.178,0.461,0.178,0.637,0l6.699-6.681c0.176-0.177,0.461-0.177,0.636,0    l1.272,1.285C19.93,9.094,19.93,9.384,19.754,9.561z" />
                                    </svg>
                                    Rs 399
                                </div>
                                <div class="description">Access all premium courses, workshops, and mobile apps. Renewed
                                    monthly.</div>
                            </label>





                            <input type="radio" class="s-hidden" name="level" id="level7" value="7" />
                            <label for="level7" class="details">
                                <h3 class="name">Yearly</h3>
                                <div class="price" data-price="390">
                                    <svg viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="M12,0C5.373,0,0,5.373,0,12c0,6.628,5.373,12,12,12c6.627,0,12-5.372,12-12C24,5.373,18.627,0,12,0z M19.754,9.561    l-8.607,8.607c-0.176,0.177-0.462,0.177-0.637,0l-1.272-1.285c-0.175-0.176-0.462-0.464-0.636-0.642l-2.96-3.112    c-0.087-0.087-0.133-0.21-0.133-0.327c0-0.115,0.046-0.227,0.133-0.314l1.297-1.169c0.088-0.09,0.205-0.134,0.321-0.134    c0.114,0.001,0.228,0.046,0.315,0.134l2.936,2.995c0.175,0.178,0.461,0.178,0.637,0l6.699-6.681c0.176-0.177,0.461-0.177,0.636,0    l1.272,1.285C19.93,9.094,19.93,9.384,19.754,9.561z" />
                                    </svg>
                                    Rs 1690
                                </div>
                                <div class="description">Access everything. Renewed yearly. Save $78 per year!</div>
                            </label>





                            <input type="radio" class="s-hidden" name="level" id="level19" value="19" />
                            <label for="level19" class="details">
                                <h3 class="name">Monthly Team</h3>
                                <div class="price" data-price="195">
                                    <svg viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="M12,0C5.373,0,0,5.373,0,12c0,6.628,5.373,12,12,12c6.627,0,12-5.372,12-12C24,5.373,18.627,0,12,0z M19.754,9.561    l-8.607,8.607c-0.176,0.177-0.462,0.177-0.637,0l-1.272-1.285c-0.175-0.176-0.462-0.464-0.636-0.642l-2.96-3.112    c-0.087-0.087-0.133-0.21-0.133-0.327c0-0.115,0.046-0.227,0.133-0.314l1.297-1.169c0.088-0.09,0.205-0.134,0.321-0.134    c0.114,0.001,0.228,0.046,0.315,0.134l2.936,2.995c0.175,0.178,0.461,0.178,0.637,0l6.699-6.681c0.176-0.177,0.461-0.177,0.636,0    l1.272,1.285C19.93,9.094,19.93,9.384,19.754,9.561z" />
                                    </svg>
                                    Rs 999
                                </div>
                                <div class="description">Access for 10 people at your company, renewed monthly. Save 50%
                                    on our monthly plans!</div>
                            </label>





                            <input type="radio" class="s-hidden" name="level" id="level16" value="16" />
                            <label for="level16" class="details">
                                <h3 class="name">Yearly Team</h3>
                                <div class="price" data-price="1950">
                                    <svg viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="M12,0C5.373,0,0,5.373,0,12c0,6.628,5.373,12,12,12c6.627,0,12-5.372,12-12C24,5.373,18.627,0,12,0z M19.754,9.561    l-8.607,8.607c-0.176,0.177-0.462,0.177-0.637,0l-1.272-1.285c-0.175-0.176-0.462-0.464-0.636-0.642l-2.96-3.112    c-0.087-0.087-0.133-0.21-0.133-0.327c0-0.115,0.046-0.227,0.133-0.314l1.297-1.169c0.088-0.09,0.205-0.134,0.321-0.134    c0.114,0.001,0.228,0.046,0.315,0.134l2.936,2.995c0.175,0.178,0.461,0.178,0.637,0l6.699-6.681c0.176-0.177,0.461-0.177,0.636,0    l1.272,1.285C19.93,9.094,19.93,9.384,19.754,9.561z" />
                                    </svg>
                                    Rs 12000
                                </div>
                                <div class="description">Access for 10 people at your company, renewed yearly. Save 50%
                                    on our yearly plans!</div>
                            </label>


                        </div>
                        <div class='form-error s-center'>

                        </div>
                    </div>
                    <div id="registration-container" class="s-wrap s-wrap-thin toggle-fields hide-if-current"
                        data-test="join-form">
                        <h2>Register for a <span class="planname"></span> Account</h2>





                        <div class='form-row'>
                            <label for="user_email">Email</label> <span>(you'll need to confirm this email
                                address)</span>
                            <!--eMAIL INPUT--> <input name="emailtext" id="user_email" type="email" value=""
                                title="Please enter a valid email." required />
                            <div class='form-error'>

                            </div>
                        </div>
                        <div class='s-grid'>
                            <div class='s-grid-1-2 s-unspace form-row'>
                                <label for="user_first">First Name</label>
                                <!--FIRST NAME INPUT--> <input name="firstname" id="user_first" type="text" value=""
                                    title="Please enter your first name." required />
                                <div class='form-error'>

                                </div>
                            </div>
                            <div class='s-grid-1-2 s-unspace form-row'>
                                <label for="user_last">Last Name</label>
                                <!--LAST NAME INPUT--> <input name="secondname" id="user_last" type="text" value=""
                                    title="Please enter your last name." required />
                                <div class='form-error'>

                                </div>
                            </div>
                        </div>
                        <div class='form-row'>
                            <label for="password">Password</label>
                            <!--pASSWORD iNPUT--> <input name="password" id="password" type="password"
                                title="Please enter a password (at least 6 characters long)." minlength=6 required />
                            <div class='form-error'>

                            </div>
                        </div>
                        <div class='form-row'>
                            <label for="password_again">Password Again</label>
                            <!--CONFIRM PASSWORD--> <input name="confirmpassword" id="password_again" type="password"
                                title="Please enter a matching password." data-match-id="password" required />
                            <div class='form-error'>

                            </div>
                        </div>










                        <div class='terms'>
                            <button type="submit" value="register" class="submit Button ButtonRed ButtonLarge"> Start Learning </button>
                        </div>
                    </div>


                </form>

                <div class="s-wrap s-center">
                    <div class="tweets-wrap">

                        <div class="tweet">
                            <a class="tweet-top" rel="nofollow noopener" target="_blank"
                                href="https://twitter.com/AnthonyHexium/status/1296516367601078272">
                                <img class="lazyload tweet-image"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="https://pbs.twimg.com/profile_images/1388480669903466496/qBizVmo3_reasonably_small.jpg"
                                    alt="Profile image for @AnthonyHexium">

                                <div class="tweet-top-text">
                                    <div class="tweet-name">Anthony R. 🇫🇷🚀💻</div>
                                    <div class="tweet-handle">@AnthonyHexium</div>
                                </div>
                            </a>
                            <div class="tweet-body"><a href="https://twitter.com/catalinmpit" target="_blank"
                                    rel="nofollow noopener">@catalinmpit</a> <a
                                    href="https://twitter.com/FrontendMasters" target="_blank"
                                    rel="nofollow noopener">@FrontendMasters</a> This is the best
                                investment I made in my career. I mean, by faaaaaaaar.</div>
                            <div class="tweet-bottom">
                                <a class="tweet-timestamp" rel="nofollow noreferrer" target="_blank"
                                    href="https://twitter.com/AnthonyHexium/status/1296516367601078272">
                                    6:36pm · Aug 20, 2020
                                </a>
                            </div>
                        </div>


                        <div class="tweet">
                            <a class="tweet-top" rel="nofollow noopener" target="_blank"
                                href="https://twitter.com/jsilvax/status/1299178179064549376">
                                <img class="lazyload tweet-image"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="https://pbs.twimg.com/profile_images/1348388087127101440/BRmGhQMk_reasonably_small.jpg"
                                    alt="Profile image for @jsilvax">

                                <div class="tweet-top-text">
                                    <div class="tweet-name">J.</div>
                                    <div class="tweet-handle">@jsilvax</div>
                                </div>
                            </a>
                            <div class="tweet-body">I’ve been using <a href="https://twitter.com/FrontendMasters"
                                    target="_blank" rel="nofollow noopener">@FrontendMasters</a> for years now. It’s
                                crazy seeing it grow over the years and how there’s just so much great content to
                                learn from. I feel like every company should have a subscription for their devs on
                                there. The best bang for your buck.</div>
                            <div class="tweet-bottom">
                                <a class="tweet-timestamp" rel="nofollow noreferrer" target="_blank"
                                    href="https://twitter.com/jsilvax/status/1299178179064549376">
                                    2:53am · Aug 28, 2020
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="s-wrap s-center questions">
                    <h3>Questions on your account?</h3>
                    <p>
                        Ask us anything! 😀 <a href="#">support@frontendmasters.com</a>
                    </p>
                </div>

            </main>

        </div>



        <footer role="contentinfo" class='FooterMain'>
            <div class='s-wrap'>
                <div class='row'>
                    <div class='FmLogo'><a class='s-tr' href='/'>FrontendMasters</a></div>
                    <label class='NavMobileHamburger' for='open-nav-footer'>Menu</label>

                    <nav class='Nav NavMobile NavFooter'>
                        <input class='toggle-target' id='open-nav-footer' type='checkbox'>
                        <ul>

                            <li class='item'>
                                <a href='/courses/'>Courses</a>
                            </li>
                            <li class='item'>
                                <a href='/learn/'>Learn</a>
                            </li>
                            <li class='item'>
                                <a href='/teachers/'>Teachers</a>
                            </li>
                            <li class='item'>
                                <a href='/guides/'>Guides</a>
                            </li>
                            <li class='item active'>
                                <a href='/join/'>Pricing</a>
                            </li>
                            <li class='item'>
                                <a href='/login/'>Login</a>
                            </li>
                            <li class='item'>
                                <a href='/join/'>Join Now</a>
                            </li>
                            <li class='item'>
                                <a href='/faq/'>FAQ</a>
                            </li>

                        </ul>
                    </nav>

                    <div class='native-app-links'>
                        <a id="iOSLinkFooter" class="AppleApp" href="#" target='_blank' rel="noopener">
                            <img class="lazyload"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="https://developer.apple.com/assets/elements/icons/download-on-the-app-store/download-on-the-app-store.svg"
                                alt="Frontend Masters App on the Apple App Store" height="45">

                        </a>
                        <a id="AndroidLinkFooter" class="AndroidApp" href='#' target='_blank' rel="noopener">
                            <img class="lazyload"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
                                alt="Frontend Masters App on Google Play" height="65">

                        </a>
                    </div>

                    <div class='row'>
                        <div class='contact'>
                            <span>Email: <a href='#'>support@frontendmasters.com</a></span>
                        </div>

                        </a>
                    </div>
                </div>

                <div class='row'>
                    <div class='copyright'>
                        © 2021 Frontend Masters &middot;
                        <a rel="nofollow noopener" href='#'>Terms of Service</a> &middot;
                        <a rel="nofollow noopener" href='#'>Privacy Policy</a>
                    </div>

                    <div>
                        Frontend Masters is proudly made in Minneapolis, MN
                    </div>
                </div>

            </div>
        </footer>

    </div>







    <script>
        window._bs = window._bs || {};

    </script>



    <script>
        window._bs.notifications = window._bs.notifications || [];

        window._bs.stripeKey = 'pk_7Hy691kRR58XyJa5ipiSfBnm33KWB';
    </script>


    <script defer src="https://js.stripe.com/v3/"></script>
    <!--Important-->

    <script defer src='https://static.frontendmasters.com/assets/fm/js/core.495e8b052b6c4cdd41e5.js'></script>
    <!--Important-->
    <script defer src='https://static.frontendmasters.com/assets/fm/js/join.495e8b052b6c4cdd41e5.js'></script>
    <!--Important-->

</body>

</html>