.mainDiv {
  padding: 2rem 0rem 2rem 50rem;
  /* display: none; */
  color: white;
}

#loginUserName,
#loginPassword {
  width: 52rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  /* margin-top: 0.5rem; */
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
#loginRememberMe {
  width: 1.6rem;
  height: 1.6rem;
}
#forgotPasswordPara {
  /* text-decoration: none; */
  color: #dd625e;
  margin-left: 2rem;
}
